{% extends 'base.html' %}
{% load post_tags %}
{% load tz %}

{% block styles %}
    <style>
        .btn {
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8 offset-md-2 ">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <span class="mr-2">Количество ваших постов:</span>
                        <span class="badge badge-primary">{{ user.posts.count }}</span>
                    </div>
                    <a class="btn btn-primary" id="js-create-post" href={% url 'posts:create-post' %}>Создать новый пост</a>
                </div>
                <div id="ajax-content">
                    {% for post in posts %}
                        {% if not post.is_published and user.id == post.author.id or post.is_published %}
                            <div class="card mb-4 mt-3">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        {% if user.id == post.author.id %}
                                            {% publish_status post %}
                                        {% endif %}
                                        {{ post.author.username }} ({{ post.created_at|timezone:"Europe/Moscow" }})</h6>
                                    <h5 class="card-title"><a href="{{ post.get_absolute_url }}" class="text-dark">{{ post.title }}</a></h5>
                                    <p class="card-text">
                                        {% if post.description|length > 200 %}
                                            {{ post.description|sanitize_user_input|slice:":200" }}...
                                            <a href="{{ post.get_absolute_url }}">Читать продолжение</a>
                                        {% else %}
                                            {{ post.description|sanitize_user_input|linebreaks }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if page_obj.has_other_pages %}
                    <nav id="ajax-pagination" aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for p in page_obj.paginator.page_range %}
                                {% if p == page_obj.number %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ p }}</span>
                                    </li>
                                {% else %}
                                    {% if p >= page_obj.number|add:'-2' and p <= page_obj.number|add:'2' %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(document).on("click", "#ajax-pagination a", (event) => {
            event.preventDefault();
            let url = $(event.target).attr("href");
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    let content = $(data).find("#ajax-content").html();
                    let pagination = $(data).find("#ajax-pagination").html();
                    $("#ajax-content").html(content);
                    $("#ajax-pagination").html(pagination);
                }
            });
        });
    </script>
{% endblock %}