{% load fontawesome_5 %}
<header>
    <!-- Шапка сайта -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Django Posts | {{ title }}</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if main_page %}
                        <span class="nav-link font-weight-bold active">Главная</span>
                    {% else %}
                        <a class="nav-link font-weight-bold" href="{% url 'posts:posts' %}">Главная</a>
                    {% endif %}
                </li>
            <li class="nav-item">
                    {% if create_post_page %}
                        <span class="nav-link font-weight-bold active">Создать пост</span>
                    {% else %}
                        <a class="nav-link font-weight-bold" href="{% url 'posts:create-post' %}">Создать пост</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if profile_page %}
                        <span class="nav-link font-weight-bold active">Профиль</span>
                    {% else %}
                        <a class="nav-link font-weight-bold" href="{% url 'users:profile' %}">Профиль</a>
                    {% endif %}
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if not user.is_authenticated %}
                    <span class="font-weight-bold text-white">Пожалуйста, <a href={% url "users:login" %}>войдите</a> в аккаунт</span>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="font-weight-bold text-white">{{ user.username }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-dark-50" href={% url "users:profile" %}>
                                <i class="far fa-user"></i> Мой профиль
                            </a>
                            <form method="post" action={% url "users:logout" %}>
                                {% csrf_token %}
                                <button class="dropdown-item text-danger" type="submit">
                                    <i class="fas fa-sign-out-alt"></i> Выйти
                                </button>
                            </form>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>