{% extends 'base.html' %}

{% block styles %}
    <style>
        .card,
        .registration,
        .form-widget {
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-header">
                        <h3 class="text-center">Registration</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" novalidate action={% url "users:registration" %}>
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <div class="text-danger">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger text-center">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <button type="submit" class="btn btn-primary btn-block registration">Зарегистрироваться
                            </button>
                        </form>
                    </div>
                    <div class="text-center mt-3">
                        <p>Уже есть аккаунт?
                            <a href="{% url 'users:login' %}">Войти</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}